<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>sukoWeb</display-name>
  <welcome-file-list>
    <welcome-file>ask</welcome-file>
  </welcome-file-list>
  <!-- WEB JSP -->
  	<servlet>
		<servlet-name>Ask</servlet-name>
		<servlet-class>com.sukoWeb.Ask</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ask</servlet-name>
		<url-pattern>/ask</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Result</servlet-name>
		<servlet-class>com.sukoWeb.Result</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Result</servlet-name>
		<url-pattern>/result</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Config</servlet-name>
		<servlet-class>com.sukoWeb.Config</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Config</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>
    
</web-app>